<footer class="flex justify-between py-10">
  <div class="flex flex-col gap-4">
    <svg
      width="65"
      height="65"
      viewBox="0 0 65 65"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="32.4152" cy="32.0871" r="32.0871" fill="#FAB215"></circle>
      <path
        d="M19.0909 20.8871L24.3576 20.8614V36.7129L43.6131 17.4573L47.4411 21.2853L28.1856 40.5408L44.0242 40.528L44.0113 45.8075L19.0909 45.8075L19.0909 20.8871Z"
        fill="white"></path>
    </svg>
    <h2 class="text-5xl font-semibold !leading-[1.2]">
      Stay in touch about <br /> Akash Accelerate 2025.<br /> Subscribe here!
    </h2>
  </div>
  <div class="flex flex-col items-end gap-3 text-right">
    <div class="flex items-center gap-1">
      <p class="text-4xl font-semibold text-foreground">Akash</p>
      <svg
        width="34"
        height="34"
        viewBox="0 0 34 34"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="16.9909" cy="16.9948" r="16.9948" fill="#FF414C"></circle>
        <path
          d="M19.9944 20.1338L23.8832 25.0121L24.5725 26.6995H17.0321L13.2598 20.1338H19.9944Z"
          fill="white"></path>
        <path
          d="M24.5704 26.7003L28.3365 20.1346L20.7981 7H13.2598L24.5704 26.7003Z"
          fill="white"></path>
        <path
          d="M9.48986 13.5649H17.0282L9.493 26.6996L5.7207 20.1338L9.48986 13.5649Z"
          fill="white"></path>
      </svg>

      <p class="text-4xl font-semibold text-foreground">NYC</p>
    </div>
    <p class="text-sm text-foreground">
      © Akash Network 2025 The Akash Network Authors<br /> Documentation Distributed
      under CC BY 4.0
    </p>
    <div class="flex flex-col gap-1 text-para">
      <a
        href="https://github.com/akash-network"
        target="_blank"
        class="text-xs underline"
      >
        Open-source Apache 2.0 Licensed.</a
      >
      <a
        href="https://github.com/akash-network/node"
        target="_blank"
        class="text-xs underline"
      >
        GitHub v0.20.0</a
      >
      <a href="/privacy" class="text-xs underline">Privacy</a>
    </div>
  </div>
</footer>
