<footer class="container">
  <div
    class="flex w-full flex-col justify-between gap-6 pb-10 pt-4 text-xs md:px-[120px] lg:flex-row lg:items-center 2xl:px-[137px]"
  >
    <div class="mb-2 flex items-center sm:mb-0">
      <a
        href="/"
        class="flex items-center gap-2 text-3xl font-bold 2xl:text-4xl"
      >
        Akash
        <svg
          width="34"
          height="34"
          viewBox="0 0 34 34"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="16.9909" cy="16.9948" r="16.9948" fill="#FF414C"></circle>
          <path
            d="M19.9944 20.1338L23.8832 25.0121L24.5725 26.6995H17.0321L13.2598 20.1338H19.9944Z"
            fill="white"></path>
          <path
            d="M24.5704 26.7003L28.3365 20.1346L20.7981 7H13.2598L24.5704 26.7003Z"
            fill="white"></path>
          <path
            d="M9.48986 13.5649H17.0282L9.493 26.6996L5.7207 20.1338L9.48986 13.5649Z"
            fill="white"></path>
        </svg>

        NYC
      </a>
    </div>
    <div class="lg:text-right">
      <span class="text-xs"
        >© Akash Network {new Date().getFullYear()} The Akash Network Authors Documentation
        Distributed under CC BY 4.0</span
      >
      <div class="mt-1 flex text-xs lg:justify-end">
        <a href="/privacy" class="mr-4 underline">Privacy</a>
        <a
          href="https://github.com/akash-network"
          target="_blank"
          class="underline">GitHub v0.20.0</a
        >
      </div>
    </div>
  </div>
</footer>
