---

---

<section class="flex gap-6 border-b-2 pb-20 pr-20 pt-10 dark:border-[#D9D9D9]">
  <h3 class="aspect-[16/8] w-full flex-1 bg-[#8E8D92]"></h3>
  <a href="/akash-accelerate-2024" class="flex flex-col gap-3">
    <svg
      width="40"
      height="40"
      viewBox="0 0 40 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="20"
        cy="20"
        r="20"
        transform="rotate(-180 20 20)"
        fill="#21B35D"></circle>
      <path
        d="M28.3058 26.9811L25.0231 26.9971L25.0231 17.1169L13.021 29.1189L10.635 26.7329L22.6371 14.7309L12.7648 14.7389L12.7728 11.4481L28.3058 11.4481L28.3058 26.9811Z"
        fill="white"></path>
    </svg>

    <h4 class="text-xl font-semibold !leading-[1.2] lg:text-4xl 2xl:text-5xl">
      View Highlights <br /> From Last Year
    </h4>
  </a>
</section>
