---
import { ArrowUpRight } from "lucide-react";
---

<section class="border-b-2 py-10 dark:border-[#D9D9D9]">
  <div class="container">
    <div
      class="flex flex-col-reverse gap-10 md:flex-row md:px-[120px] lg:gap-40 2xl:px-[137px]"
    >
      <div class="flex w-full flex-col gap-5">
        <h3 class="aspect-video w-full bg-[#8E8D92]"></h3>
        <a
          href="/akash-accelerate-2024"
          class="flex gap-10 transition-all hover:text-primary"
        >
          <h4 class="text-3xl font-semibold 2xl:text-5xl">
            View Highlights <br />
            From Last Year
          </h4>
          <ArrowUpRight className="size-10 2xl:size-14" />
        </a>
      </div>
      <svg
        width="256"
        height="81"
        viewBox="0 0 256 81"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="40.0297" cy="40.7922" r="40.0297" fill="#FAB215"></circle>
        <path
          d="M14.6972 47.5777C13.7084 47.5777 12.8234 47.3237 12.0422 46.8156C11.2609 46.3075 10.6436 45.57 10.1902 44.603C9.73673 43.6361 9.51001 42.4615 9.51001 41.0794C9.51001 39.6808 9.73946 38.5008 10.1984 37.5393C10.6627 36.5723 11.2882 35.843 12.0749 35.3513C12.8616 34.8542 13.7384 34.6056 14.7054 34.6056C15.4429 34.6056 16.0493 34.7313 16.5246 34.9826C16.9999 35.2284 17.3769 35.5261 17.6555 35.8758C17.9341 36.2199 18.1499 36.545 18.3029 36.8509H18.4258V34.7695H21.4004V47.3564H18.4831V45.3733H18.3029C18.1499 45.6793 17.9286 46.0043 17.6391 46.3485C17.3495 46.6872 16.9671 46.9768 16.4918 47.2171C16.0166 47.4575 15.4183 47.5777 14.6972 47.5777ZM15.5249 45.1439C16.1531 45.1439 16.6885 44.9745 17.131 44.6358C17.5735 44.2917 17.9095 43.8136 18.139 43.2018C18.3684 42.5899 18.4831 41.877 18.4831 41.063C18.4831 40.249 18.3684 39.5415 18.139 38.9406C17.915 38.3396 17.5817 37.8725 17.1392 37.5393C16.7022 37.206 16.1641 37.0394 15.5249 37.0394C14.8638 37.0394 14.3121 37.2115 13.8696 37.5557C13.427 37.8998 13.0938 38.3751 12.8698 38.9815C12.6458 39.5879 12.5338 40.2817 12.5338 41.063C12.5338 41.8497 12.6458 42.5517 12.8698 43.169C13.0993 43.7809 13.4352 44.2643 13.8778 44.6194C14.3257 44.9691 14.8748 45.1439 15.5249 45.1439ZM30.4892 29.7872L25.0807 49.8804H22.483L27.8915 29.7872H30.4892ZM36.13 47.5777C35.1412 47.5777 34.2562 47.3237 33.475 46.8156C32.6937 46.3075 32.0764 45.57 31.623 44.603C31.1695 43.6361 30.9428 42.4615 30.9428 41.0794C30.9428 39.6808 31.1723 38.5008 31.6312 37.5393C32.0955 36.5723 32.7211 35.843 33.5077 35.3513C34.2944 34.8542 35.1713 34.6056 36.1382 34.6056C36.8757 34.6056 37.4821 34.7313 37.9574 34.9826C38.4327 35.2284 38.8097 35.5261 39.0883 35.8758C39.3669 36.2199 39.5827 36.545 39.7357 36.8509H39.8586V34.7695H42.8332V47.3564H39.9159V45.3733H39.7357C39.5827 45.6793 39.3614 46.0043 39.0719 46.3485C38.7824 46.6872 38.3999 46.9768 37.9247 47.2171C37.4494 47.4575 36.8512 47.5777 36.13 47.5777ZM36.9577 45.1439C37.5859 45.1439 38.1213 44.9745 38.5638 44.6358C39.0063 44.2917 39.3423 43.8136 39.5718 43.2018C39.8012 42.5899 39.9159 41.877 39.9159 41.063C39.9159 40.249 39.8012 39.5415 39.5718 38.9406C39.3478 38.3396 39.0145 37.8725 38.572 37.5393C38.135 37.206 37.5969 37.0394 36.9577 37.0394C36.2967 37.0394 35.7449 37.2115 35.3024 37.5557C34.8599 37.8998 34.5266 38.3751 34.3026 38.9815C34.0786 39.5879 33.9666 40.2817 33.9666 41.063C33.9666 41.8497 34.0786 42.5517 34.3026 43.169C34.5321 43.7809 34.8681 44.2643 35.3106 44.6194C35.7585 44.9691 36.3076 45.1439 36.9577 45.1439ZM50.5617 47.6023C49.3052 47.6023 48.2262 47.3264 47.3248 46.7746C46.4288 46.2229 45.7378 45.4608 45.2516 44.4883C44.7708 43.5104 44.5304 42.385 44.5304 41.1121C44.5304 39.8338 44.7763 38.7056 45.2679 37.7278C45.7596 36.7444 46.4534 35.9796 47.3494 35.4333C48.2508 34.8815 49.3161 34.6056 50.5453 34.6056C51.5669 34.6056 52.471 34.7941 53.2577 35.171C54.0499 35.5425 54.6808 36.0697 55.1507 36.7526C55.6205 37.43 55.8882 38.2222 55.9537 39.129H53.1184C53.0037 38.5226 52.7305 38.0173 52.2989 37.613C51.8728 37.2033 51.3019 36.9984 50.5863 36.9984C49.9799 36.9984 49.4472 37.1623 48.9883 37.4901C48.5294 37.8124 48.1716 38.2768 47.9148 38.8832C47.6635 39.4896 47.5379 40.2162 47.5379 41.063C47.5379 41.9207 47.6635 42.6582 47.9148 43.2755C48.1661 43.8874 48.5185 44.3599 48.9719 44.6932C49.4308 45.021 49.9689 45.1849 50.5863 45.1849C51.0233 45.1849 51.4139 45.1029 51.7581 44.939C52.1077 44.7697 52.4 44.5266 52.6349 44.2097C52.8698 43.8928 53.031 43.5077 53.1184 43.0543H55.9537C55.8827 43.9447 55.6205 44.7342 55.1671 45.4225C54.7136 46.1054 54.0963 46.6408 53.3151 47.0287C52.5338 47.4111 51.616 47.6023 50.5617 47.6023ZM62.957 47.6023C61.7004 47.6023 60.6215 47.3264 59.7201 46.7746C58.8241 46.2229 58.1331 45.4608 57.6468 44.4883C57.1661 43.5104 56.9257 42.385 56.9257 41.1121C56.9257 39.8338 57.1715 38.7056 57.6632 37.7278C58.1549 36.7444 58.8487 35.9796 59.7447 35.4333C60.6461 34.8815 61.7114 34.6056 62.9406 34.6056C63.9622 34.6056 64.8663 34.7941 65.653 35.171C66.4451 35.5425 67.0761 36.0697 67.546 36.7526C68.0158 37.43 68.2835 38.2222 68.349 39.129H65.5137C65.399 38.5226 65.1258 38.0173 64.6942 37.613C64.2681 37.2033 63.6972 36.9984 62.9815 36.9984C62.3751 36.9984 61.8425 37.1623 61.3836 37.4901C60.9247 37.8124 60.5669 38.2768 60.3101 38.8832C60.0588 39.4896 59.9331 40.2162 59.9331 41.063C59.9331 41.9207 60.0588 42.6582 60.3101 43.2755C60.5614 43.8874 60.9138 44.3599 61.3672 44.6932C61.8261 45.021 62.3642 45.1849 62.9815 45.1849C63.4186 45.1849 63.8092 45.1029 64.1534 44.939C64.503 44.7697 64.7953 44.5266 65.0302 44.2097C65.2651 43.8928 65.4263 43.5077 65.5137 43.0543H68.349C68.278 43.9447 68.0158 44.7342 67.5623 45.4225C67.1089 46.1054 66.4916 46.6408 65.7104 47.0287C64.9291 47.4111 64.0113 47.6023 62.957 47.6023Z"
          fill="white"></path>
        <circle cx="215" cy="40.411" r="40.411" fill="#8E8D92"></circle>
        <path
          d="M239.788 40.3752L217.805 58.6511L217.805 22.0993L239.788 40.3752Z"
          fill="white"></path>
        <path
          d="M221.027 40.3752L199.044 58.6511L199.044 22.0993L221.027 40.3752Z"
          fill="white"></path>
        <circle cx="127.75" cy="39.8573" r="39.3038" fill="#FF414C"></circle>
        <path
          d="M133.764 44.7947L141.54 54.5498L142.918 57.9241H127.84L120.296 44.7947H133.764Z"
          fill="white"></path>
        <path
          d="M142.914 57.9254L150.445 44.796L135.371 18.5308H120.296L142.914 57.9254Z"
          fill="white"></path>
        <path
          d="M112.759 31.6582H127.834L112.766 57.9235L105.222 44.794L112.759 31.6582Z"
          fill="white"></path>
      </svg>
    </div>
  </div>
</section>
