---
import { ArrowDownLeft } from "lucide-react";
---

<section class="border-b-2 pb-10 pt-4 dark:border-[#D9D9D9]">
  <div class="container">
    <div class="flex flex-col gap-14 px-[47px] md:px-[120px] 2xl:px-[137px]">
      <h2 class="text-2xl font-semibold md:text-4xl 2xl:text-6xl">
        Further information
      </h2>

      <div class="grid w-full grid-cols-1 gap-8 lg:grid-cols-2">
        <div>
          <div class="mb-4 flex flex-col gap-4">
            <svg
              class="size-7 md:size-10"
              width="19"
              height="41"
              viewBox="0 0 19 41"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.1322 34.321V14.1322H8.07552L0 16.151V18.1699L4.03776 20.1888V34.321L0 36.3398V40.3776H18.1699V36.3398L14.1322 34.321Z"
                fill="white"></path>
              <path
                d="M8.07552 12.1133C11.4205 12.1133 14.1322 9.40163 14.1322 6.05664C14.1322 2.71165 11.4205 0 8.07552 0C4.73053 0 2.01888 2.71165 2.01888 6.05664C2.01888 9.40163 4.73053 12.1133 8.07552 12.1133Z"
                fill="white"></path>
            </svg>

            <h2 class="text-xl font-semibold md:text-2xl 2xl:text-3xl">
              Follow Akash
            </h2>
          </div>
          <div class="flex flex-col pt-2">
            <a
              href="https://github.com/akash-network"
              class="border-y py-1 transition-all hover:text-primary md:py-2 md:text-lg 2xl:text-xl"
            >
              Akash Github
            </a>
            <a
              href="https://twitter.com/akashnet_"
              class="border-t py-1 transition-all hover:text-primary md:py-2 md:text-lg 2xl:text-xl"
            >
              Akash on "X"
            </a>
            <a
              href="https://discord.com/invite/akash"
              class="border-t py-1 transition-all hover:text-primary md:py-2 md:text-lg 2xl:text-xl"
            >
              Akash Discord
            </a>
            <a
              href="https://www.youtube.com/c/AkashNetwork"
              class="border-y py-1 transition-all hover:text-primary md:py-2 md:text-lg 2xl:text-xl"
            >
              Akash Youtube
            </a>
          </div>
        </div>
        <div class="flex lg:justify-end">
          <div class="flex flex-col gap-1 md:gap-3">
            <ArrowDownLeft className="size-10 2xl:size-16" />
            <h2
              class="text-2xl font-semibold !leading-[1.2] md:text-3xl 2xl:text-5xl"
            >
              Stay in touch <br />
              about Akash<br /> Accelerate 2025. <br />
              Subscribe here!
            </h2>
            <svg
              width="279"
              height="52"
              class="w-[150px] md:w-[279px]"
              viewBox="0 0 279 52"
              fill="none"
              class="mt-2"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="26.0046" cy="26.0046" r="26.0046" fill="#FF414C"
              ></circle>
              <circle cx="82.5905" cy="26.0046" r="26.0046" fill="#05ADDB"
              ></circle>
              <circle cx="139.176" cy="26.0046" r="26.0046" fill="#FAB215"
              ></circle>
              <circle cx="195.764" cy="26.0046" r="26.0046" fill="#21B35D"
              ></circle>
              <circle cx="252.686" cy="26.0046" r="26.0046" fill="#8E8D92"
              ></circle>
              <path
                d="M91.4741 22.0562H88.2814C88.1586 21.374 87.9301 20.7737 87.5958 20.2552C87.2616 19.7367 86.8522 19.2967 86.3679 18.9352C85.8835 18.5736 85.3412 18.3007 84.7408 18.1165C84.1473 17.9323 83.5163 17.8402 82.8477 17.8402C81.6402 17.8402 80.5589 18.1438 79.6039 18.751C78.6556 19.3581 77.9052 20.2484 77.3526 21.4218C76.8068 22.5952 76.5339 24.0278 76.5339 25.7196C76.5339 27.4251 76.8068 28.8646 77.3526 30.038C77.9052 31.2114 78.659 32.0982 79.6141 32.6986C80.5692 33.2989 81.6436 33.5991 82.8375 33.5991C83.4992 33.5991 84.1268 33.5104 84.7204 33.333C85.3207 33.1488 85.863 32.8793 86.3474 32.5246C86.8318 32.1698 87.2411 31.7367 87.5754 31.225C87.9165 30.7065 88.1518 30.113 88.2814 29.4445L91.4741 29.4547C91.3036 30.4848 90.9727 31.4331 90.4815 32.2995C89.9972 33.159 89.373 33.9026 88.6089 34.5303C87.8517 35.1511 86.9853 35.632 86.0097 35.9731C85.0342 36.3142 83.9699 36.4848 82.817 36.4848C81.0024 36.4848 79.3855 36.055 77.9666 35.1954C76.5476 34.329 75.4288 33.0908 74.6101 31.4808C73.7983 29.8708 73.3924 27.9504 73.3924 25.7196C73.3924 23.482 73.8017 21.5616 74.6204 19.9585C75.439 18.3485 76.5578 17.1137 77.9768 16.2541C79.3958 15.3877 81.0092 14.9545 82.817 14.9545C83.929 14.9545 84.9659 15.1148 85.9279 15.4355C86.8966 15.7493 87.7664 16.2132 88.5373 16.8272C89.3082 17.4343 89.946 18.1779 90.4508 19.058C90.9557 19.9312 91.2968 20.9306 91.4741 22.0562Z"
                fill="white"></path>
              <path
                d="M19.6142 36.1982H16.2577L23.7995 15.241H27.4527L34.9944 36.1982H31.638L25.713 19.0477H25.5493L19.6142 36.1982ZM20.177 27.9914H31.0649V30.652H20.177V27.9914Z"
                fill="white"></path>
              <path
                d="M148.478 22.1724H145.285C145.163 21.4902 144.934 20.8899 144.6 20.3714C144.265 19.853 143.856 19.4129 143.372 19.0514C142.887 18.6898 142.345 18.4169 141.745 18.2327C141.151 18.0485 140.52 17.9564 139.852 17.9564C138.644 17.9564 137.563 18.26 136.608 18.8672C135.659 19.4743 134.909 20.3646 134.356 21.538C133.811 22.7114 133.538 24.144 133.538 25.8359C133.538 27.5414 133.811 28.9808 134.356 30.1542C134.909 31.3276 135.663 32.2144 136.618 32.8148C137.573 33.4151 138.648 33.7153 139.841 33.7153C140.503 33.7153 141.131 33.6266 141.724 33.4492C142.325 33.265 142.867 32.9955 143.351 32.6408C143.836 32.2861 144.245 31.8529 144.579 31.3412C144.92 30.8227 145.156 30.2292 145.285 29.5607L148.478 29.5709C148.307 30.601 147.977 31.5493 147.485 32.4157C147.001 33.2752 146.377 34.0188 145.613 34.6465C144.856 35.2673 143.989 35.7482 143.014 36.0893C142.038 36.4304 140.974 36.601 139.821 36.601C138.006 36.601 136.389 36.1712 134.97 35.3116C133.551 34.4452 132.433 33.207 131.614 31.597C130.802 29.987 130.396 28.0666 130.396 25.8359C130.396 23.5982 130.806 21.6778 131.624 20.0747C132.443 18.4647 133.562 17.2299 134.981 16.3703C136.4 15.5039 138.013 15.0707 139.821 15.0707C140.933 15.0707 141.97 15.231 142.932 15.5517C143.9 15.8655 144.77 16.3294 145.541 16.9434C146.312 17.5505 146.95 18.2941 147.455 19.1742C147.96 20.0474 148.301 21.0468 148.478 22.1724Z"
                fill="white"></path>
              <path
                d="M237.765 36.3145V34.0223L244.857 26.675C245.614 25.8768 246.238 25.1775 246.73 24.5772C247.228 23.97 247.599 23.3936 247.845 22.8478C248.091 22.3021 248.213 21.7222 248.213 21.1082C248.213 20.4124 248.05 19.812 247.722 19.3072C247.395 18.7955 246.948 18.4033 246.382 18.1304C245.815 17.8507 245.178 17.7108 244.468 17.7108C243.718 17.7108 243.063 17.8643 242.503 18.1713C241.944 18.4783 241.514 18.9115 241.214 19.4709C240.914 20.0303 240.764 20.6852 240.764 21.4357H237.745C237.745 20.1599 238.038 19.0445 238.625 18.0895C239.212 17.1344 240.017 16.3942 241.04 15.8689C242.063 15.3368 243.226 15.0707 244.529 15.0707C245.846 15.0707 247.006 15.3334 248.009 15.8587C249.018 16.3771 249.806 17.0866 250.373 17.9871C250.939 18.8808 251.222 19.8905 251.222 21.0161C251.222 21.7938 251.075 22.5545 250.782 23.2981C250.495 24.0417 249.994 24.8705 249.278 25.7847C248.561 26.692 247.565 27.7938 246.29 29.0899L242.125 33.4492V33.6027H251.56V36.3145H237.765ZM261.203 36.601C259.92 36.601 258.767 36.3554 257.744 35.8642C256.727 35.3662 255.916 34.684 255.309 33.8176C254.701 32.9512 254.377 31.962 254.336 30.85H257.406C257.481 31.7505 257.88 32.4907 258.604 33.0706C259.327 33.6505 260.193 33.9404 261.203 33.9404C262.008 33.9404 262.721 33.7562 263.341 33.3878C263.969 33.0126 264.46 32.4975 264.815 31.8426C265.177 31.1877 265.357 30.4407 265.357 29.6016C265.357 28.7488 265.173 27.9882 264.805 27.3196C264.436 26.6511 263.928 26.1258 263.28 25.7438C262.639 25.3617 261.902 25.1673 261.07 25.1605C260.435 25.1605 259.797 25.2696 259.156 25.4879C258.515 25.7062 257.996 25.9928 257.601 26.3475L254.705 25.9177L255.882 15.3573H267.404V18.069H258.511L257.846 23.9325H257.969C258.378 23.5368 258.921 23.206 259.596 22.9399C260.278 22.6739 261.008 22.5408 261.786 22.5408C263.062 22.5408 264.198 22.8444 265.194 23.4516C266.196 24.0587 266.984 24.8876 267.557 25.9382C268.137 26.9819 268.424 28.1826 268.417 29.5402C268.424 30.8978 268.117 32.1087 267.496 33.1729C266.882 34.2372 266.029 35.0763 264.938 35.6902C263.853 36.2974 262.608 36.601 261.203 36.601Z"
                fill="white"></path>
              <path
                d="M210.941 26.5563L197.263 37.928L197.263 15.1845L210.941 26.5563Z"
                fill="white"></path>
              <path
                d="M199.27 26.5563L185.591 37.928L185.591 15.1845L199.27 26.5563Z"
                fill="white"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
