<section class="border-b-2 border-black py-10 dark:border-[#D9D9D9]">
  <div class="container flex justify-between">
    <div class="flex gap-5">
      <div class="w-[117px]">
        <svg
          width="65"
          height="61"
          viewBox="0 0 65 61"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M34.648 60.2944L28.2609 53.9693L47.3913 34.8388L0.913961 34.8388L0.913961 25.5992L47.3913 25.5992L28.2609 6.49974L34.648 0.143601L64.7234 30.219L34.648 60.2944Z"
            fill="white"></path>
        </svg>
      </div>
      <div class="flex flex-col gap-5">
        <h3 class="text-6xl font-semibold leading-[1.15]">
          Location: <br />74Wythe <br /> Williamsburg <br />Brooklyn NYC
        </h3>
        <svg
          width="279"
          height="53"
          viewBox="0 0 279 53"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="26.0046" cy="26.0466" r="26.0046" fill="#FF414C"></circle>
          <circle cx="82.5905" cy="26.0466" r="26.0046" fill="#05ADDB"></circle>
          <circle cx="139.176" cy="26.0466" r="26.0046" fill="#FAB215"></circle>
          <circle cx="195.764" cy="26.0466" r="26.0046" fill="#21B35D"></circle>
          <circle cx="252.686" cy="26.0466" r="26.0046" fill="#8E8D92"></circle>
          <path
            d="M19.7587 35.9404H16.4023L23.944 14.9832H27.5972L35.1389 35.9404H31.7825L25.8576 18.7899H25.6938L19.7587 35.9404ZM20.3215 27.7336H31.2094V30.3941H20.3215V27.7336Z"
            fill="white"></path>
          <path
            d="M91.4741 22.0982H88.2814C88.1586 21.416 87.9301 20.8157 87.5958 20.2972C87.2616 19.7787 86.8522 19.3387 86.3679 18.9771C85.8835 18.6156 85.3412 18.3427 84.7408 18.1585C84.1473 17.9743 83.5163 17.8822 82.8477 17.8822C81.6402 17.8822 80.5589 18.1858 79.6039 18.793C78.6556 19.4001 77.9052 20.2904 77.3526 21.4638C76.8068 22.6372 76.5339 24.0698 76.5339 25.7616C76.5339 27.4671 76.8068 28.9066 77.3526 30.08C77.9052 31.2533 78.659 32.1402 79.6141 32.7405C80.5692 33.3409 81.6436 33.6411 82.8375 33.6411C83.4992 33.6411 84.1268 33.5524 84.7204 33.375C85.3207 33.1908 85.863 32.9213 86.3474 32.5666C86.8318 32.2118 87.2411 31.7786 87.5754 31.267C87.9165 30.7485 88.1518 30.155 88.2814 29.4864L91.4741 29.4967C91.3036 30.5268 90.9727 31.4751 90.4815 32.3415C89.9972 33.201 89.373 33.9446 88.6089 34.5723C87.8517 35.1931 86.9853 35.674 86.0097 36.0151C85.0342 36.3562 83.9699 36.5268 82.817 36.5268C81.0024 36.5268 79.3855 36.097 77.9666 35.2374C76.5476 34.371 75.4288 33.1328 74.6101 31.5228C73.7983 29.9128 73.3924 27.9924 73.3924 25.7616C73.3924 23.524 73.8017 21.6036 74.6204 20.0004C75.439 18.3905 76.5578 17.1557 77.9768 16.2961C79.3958 15.4297 81.0092 14.9965 82.817 14.9965C83.929 14.9965 84.9659 15.1568 85.9279 15.4775C86.8966 15.7913 87.7664 16.2552 88.5373 16.8691C89.3082 17.4763 89.946 18.2199 90.4508 19.0999C90.9557 19.9732 91.2968 20.9726 91.4741 22.0982Z"
            fill="white"></path>
          <path
            d="M148.478 22.2144H145.285C145.163 21.5322 144.934 20.9319 144.6 20.4134C144.265 19.8949 143.856 19.4549 143.372 19.0934C142.887 18.7318 142.345 18.4589 141.745 18.2747C141.151 18.0905 140.52 17.9984 139.852 17.9984C138.644 17.9984 137.563 18.302 136.608 18.9092C135.659 19.5163 134.909 20.4066 134.356 21.58C133.811 22.7534 133.538 24.186 133.538 25.8778C133.538 27.5833 133.811 29.0228 134.356 30.1962C134.909 31.3696 135.663 32.2564 136.618 32.8568C137.573 33.4571 138.648 33.7573 139.841 33.7573C140.503 33.7573 141.131 33.6686 141.724 33.4912C142.325 33.307 142.867 33.0375 143.351 32.6828C143.836 32.3281 144.245 31.8949 144.579 31.3832C144.92 30.8647 145.156 30.2712 145.285 29.6027L148.478 29.6129C148.307 30.643 147.977 31.5913 147.485 32.4577C147.001 33.3172 146.377 34.0608 145.613 34.6885C144.856 35.3093 143.989 35.7902 143.014 36.1313C142.038 36.4724 140.974 36.643 139.821 36.643C138.006 36.643 136.389 36.2132 134.97 35.3536C133.551 34.4872 132.433 33.249 131.614 31.639C130.802 30.029 130.396 28.1086 130.396 25.8778C130.396 23.6402 130.806 21.7198 131.624 20.1167C132.443 18.5067 133.562 17.2719 134.981 16.4123C136.4 15.5459 138.013 15.1127 139.821 15.1127C140.933 15.1127 141.97 15.273 142.932 15.5937C143.9 15.9075 144.77 16.3714 145.541 16.9854C146.312 17.5925 146.95 18.3361 147.455 19.2162C147.96 20.0894 148.301 21.0888 148.478 22.2144Z"
            fill="white"></path>
          <path
            d="M237.765 36.3564V34.0643L244.857 26.717C245.614 25.9188 246.238 25.2195 246.73 24.6192C247.228 24.012 247.599 23.4356 247.845 22.8898C248.091 22.344 248.213 21.7642 248.213 21.1502C248.213 20.4543 248.05 19.854 247.722 19.3492C247.395 18.8375 246.948 18.4453 246.382 18.1724C245.815 17.8927 245.178 17.7528 244.468 17.7528C243.718 17.7528 243.063 17.9063 242.503 18.2133C241.944 18.5203 241.514 18.9535 241.214 19.5129C240.914 20.0723 240.764 20.7272 240.764 21.4777H237.745C237.745 20.2019 238.038 19.0865 238.625 18.1315C239.212 17.1764 240.017 16.4362 241.04 15.9109C242.063 15.3788 243.226 15.1127 244.529 15.1127C245.846 15.1127 247.006 15.3754 248.009 15.9007C249.018 16.4191 249.806 17.1286 250.373 18.0291C250.939 18.9228 251.222 19.9325 251.222 21.0581C251.222 21.8358 251.075 22.5965 250.782 23.3401C250.495 24.0837 249.994 24.9125 249.278 25.8267C248.561 26.734 247.565 27.8358 246.29 29.1319L242.125 33.4912V33.6447H251.56V36.3564H237.765ZM261.203 36.643C259.92 36.643 258.767 36.3974 257.744 35.9062C256.727 35.4082 255.916 34.726 255.309 33.8596C254.701 32.9932 254.377 32.004 254.336 30.892H257.406C257.481 31.7925 257.88 32.5327 258.604 33.1126C259.327 33.6925 260.193 33.9824 261.203 33.9824C262.008 33.9824 262.721 33.7982 263.341 33.4298C263.969 33.0546 264.46 32.5395 264.815 31.8846C265.177 31.2297 265.357 30.4827 265.357 29.6436C265.357 28.7908 265.173 28.0302 264.805 27.3616C264.436 26.6931 263.928 26.1678 263.28 25.7857C262.639 25.4037 261.902 25.2093 261.07 25.2025C260.435 25.2025 259.797 25.3116 259.156 25.5299C258.515 25.7482 257.996 26.0348 257.601 26.3895L254.705 25.9597L255.882 15.3992H267.404V18.111H258.511L257.846 23.9745H257.969C258.378 23.5788 258.921 23.248 259.596 22.9819C260.278 22.7158 261.008 22.5828 261.786 22.5828C263.062 22.5828 264.198 22.8864 265.194 23.4936C266.196 24.1007 266.984 24.9296 267.557 25.9802C268.137 27.0239 268.424 28.2246 268.417 29.5822C268.424 30.9398 268.117 32.1507 267.496 33.2149C266.882 34.2791 266.029 35.1183 264.938 35.7322C263.853 36.3394 262.608 36.643 261.203 36.643Z"
            fill="white"></path>
          <path
            d="M210.941 26.5983L197.263 37.97L197.263 15.2265L210.941 26.5983Z"
            fill="white"></path>
          <path
            d="M199.27 26.5983L185.591 37.97L185.591 15.2265L199.27 26.5983Z"
            fill="white"></path>
        </svg>
      </div>
    </div>
    <h2 class="pr-[137px] text-right text-6xl font-semibold leading-[1.15]">
      June 24th<br />
      10am-10pm
    </h2>
  </div>
</section>
