---
import TableCard from "../accelerate/table-card.astro";
---

<section>
  <div class="border-b-2 border-black py-5 dark:border-[#D9D9D9]">
    <div class="container">
      <div class="px-[137px]">
        <svg
          width="80"
          height="129"
          viewBox="0 0 80 129"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M42.9294 24.7428C49.7035 24.7428 55.195 19.2513 55.195 12.4772C55.195 5.70315 49.7035 0.21167 42.9294 0.21167C36.1554 0.21167 30.6639 5.70315 30.6639 12.4772C30.6639 19.2513 36.1554 24.7428 42.9294 24.7428Z"
            fill="white"></path>
          <path
            d="M64.388 98.1521L45.5972 83.3476L51.0186 50.8255L59.8436 61.5394H79.7261V49.2739H65.4919L50.7487 30.8756H24.5311L6.13278 43.1411L0 67.6722H12.4495L16.9633 50.3717L23.7768 45.8334L7.34707 129H19.7843L28.4193 85.4205L52.656 104.518L54.686 129H67.0926L64.388 98.1521Z"
            fill="white"></path>
        </svg>
      </div>
    </div>
  </div>

  <div class="border-b-2 border-black pb-28 pt-10 dark:border-[#D9D9D9]">
    <div class="container">
      <div class="flex flex-col gap-10 px-[137px]">
        <div class="flex items-center gap-5">
          <h3 class="text-7xl font-semibold">Run of Show</h3>
          <svg
            width="67"
            height="68"
            viewBox="0 0 67 68"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="33.189" cy="33.9842" r="33.189" fill="#FF414C"></circle>
            <path
              d="M52.6074 34.6878L35.1504 49.2014L35.1504 20.1743L52.6074 34.6878Z"
              fill="white"></path>
            <path
              d="M37.7129 34.6878L20.2558 49.2014L20.2558 20.1743L37.7129 34.6878Z"
              fill="white"></path>
          </svg>
        </div>
        <div class="relative flex w-full flex-col gap-4">
          <svg
            class="absolute right-0 top-0 z-[4]"
            width="328"
            height="328"
            viewBox="0 0 328 328"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_0_724)">
              <path
                d="M251.747 285.255C252.309 282.764 254.771 281.209 257.262 281.771L258.477 276.382C255.986 275.82 254.431 273.359 254.993 270.867C255.555 268.376 258.016 266.821 260.507 267.383L261.723 261.995C259.232 261.433 257.676 258.971 258.238 256.48C258.8 253.988 261.262 252.433 263.753 252.995L264.969 247.607C262.477 247.045 260.922 244.583 261.484 242.092C262.046 239.6 264.507 238.045 266.999 238.607L268.214 233.219C265.723 232.657 264.167 230.195 264.729 227.704C265.291 225.213 267.753 223.657 270.244 224.219L271.46 218.831C268.969 218.269 267.413 215.807 267.975 213.316C268.537 210.825 270.999 209.269 273.49 209.831L274.705 204.443C272.214 203.881 270.659 201.42 271.221 198.928C271.783 196.437 274.244 194.882 276.736 195.444L277.951 190.055C275.46 189.493 273.904 187.032 274.466 184.54C275.028 182.049 277.49 180.494 279.981 181.056L281.197 175.668C278.705 175.106 277.15 172.644 277.712 170.153C278.274 167.661 280.736 166.106 283.227 166.668L284.442 161.28C281.951 160.718 280.396 158.256 280.958 155.765C281.52 153.274 283.981 151.718 286.473 152.28L287.688 146.892C285.197 146.33 283.641 143.868 284.203 141.377C284.765 138.886 287.227 137.33 289.718 137.892L290.934 132.504C288.442 131.942 286.887 129.481 287.449 126.989C288.011 124.498 290.472 122.942 292.964 123.504L294.179 118.116C291.688 117.554 290.133 115.093 290.695 112.601C291.257 110.11 293.718 108.555 296.209 109.117L297.425 103.728C294.934 103.166 293.378 100.705 293.94 98.2135C294.502 95.7222 296.964 94.1668 299.455 94.7288L300.671 89.3406C298.179 88.7786 296.624 86.317 297.186 83.8257C297.748 81.3344 300.209 79.779 302.701 80.341L303.916 74.9528C301.425 74.3908 299.869 71.9292 300.431 69.4379C300.993 66.9466 303.455 65.3912 305.946 65.9532L306.922 61.6271L301.379 60.3768C300.817 62.8681 298.356 64.4236 295.865 63.8616C293.373 63.2996 291.818 60.838 292.38 58.3467L286.992 57.1312C286.43 59.6225 283.968 61.1779 281.477 60.6159C278.985 60.0539 277.43 57.5923 277.992 55.101L272.604 53.8856C272.042 56.3769 269.58 57.9323 267.089 57.3703C264.598 56.8083 263.042 54.3467 263.604 51.8554L258.216 50.6399C257.654 53.1312 255.192 54.6867 252.701 54.1247C250.21 53.5627 248.654 51.1011 249.216 48.6098L243.828 47.3943C243.266 49.8856 240.805 51.441 238.313 50.879C235.822 50.317 234.267 47.8555 234.829 45.3641L229.44 44.1487C228.878 46.64 226.417 48.1954 223.925 47.6334C221.434 47.0714 219.879 44.6098 220.441 42.1185L215.053 40.903C214.491 43.3943 212.029 44.9498 209.538 44.3878C207.046 43.8258 205.491 41.3642 206.053 38.8729L200.665 37.6574C200.103 40.1487 197.641 41.7041 195.15 41.1421C192.658 40.5801 191.103 38.1186 191.665 35.6272L186.277 34.4118C185.715 36.9031 183.253 38.4585 180.762 37.8965C178.271 37.3345 176.715 34.8729 177.277 32.3816L171.889 31.1661C171.327 33.6575 168.865 35.2129 166.374 34.6509C163.883 34.0889 162.327 31.6273 162.889 29.136L157.501 27.9205C156.939 30.4118 154.478 31.9672 151.986 31.4052C149.495 30.8432 147.94 28.3817 148.502 25.8904L143.113 24.6749C142.551 27.1662 140.09 28.7216 137.598 28.1596C135.107 27.5976 133.552 25.136 134.114 22.6447L128.726 21.4292C128.164 23.9206 125.702 25.476 123.211 24.914C120.719 24.352 119.164 21.8904 119.726 19.3991L114.338 18.1836C113.776 20.6749 111.314 22.2303 108.823 21.6684C106.332 21.1064 104.776 18.6448 105.338 16.1535L99.9499 14.938C99.3879 17.4293 96.9263 18.9847 94.435 18.4227C91.9437 17.8607 90.3883 15.3991 90.9503 12.9078L85.5621 11.6923C85.0001 14.1837 82.5385 15.7391 80.0472 15.1771C77.5559 14.6151 76.0005 12.1535 76.5625 9.6622L73.627 9L72.6511 13.326C75.1424 13.888 76.6978 16.3496 76.1358 18.8409C75.5738 21.3322 73.1122 22.8876 70.6209 22.3256L69.4055 27.7138C71.8968 28.2758 73.4522 30.7374 72.8902 33.2287C72.3282 35.72 69.8666 37.2755 67.3753 36.7135L66.1598 42.1017C68.6511 42.6636 70.2066 45.1252 69.6446 47.6165C69.0826 50.1079 66.621 51.6633 64.1297 51.1013L62.9142 56.4895C65.4055 57.0515 66.9609 59.5131 66.3989 62.0044C65.8369 64.4957 63.3754 66.0511 60.884 65.4891L59.6686 70.8773C62.1599 71.4393 63.7153 73.9009 63.1533 76.3922C62.5913 78.8835 60.1297 80.4389 57.6384 79.8769L56.4229 85.2651C58.9142 85.8271 60.4697 88.2887 59.9077 90.78C59.3457 93.2713 56.8841 94.8268 54.3928 94.2648L53.1773 99.653C55.6686 100.215 57.224 102.677 56.662 105.168C56.1 107.659 53.6385 109.215 51.1471 108.653L49.9317 114.041C52.423 114.603 53.9784 117.064 53.4164 119.556C52.8544 122.047 50.3928 123.602 47.9015 123.04L46.686 128.429C49.1773 128.991 50.7328 131.452 50.1708 133.943C49.6088 136.435 47.1472 137.99 44.6559 137.428L43.4404 142.816C45.9317 143.378 47.4871 145.84 46.9251 148.331C46.3631 150.823 43.9016 152.378 41.4103 151.816L40.1948 157.204C42.6861 157.766 44.2415 160.228 43.6795 162.719C43.1175 165.21 40.6559 166.766 38.1646 166.204L36.9491 171.592C39.4405 172.154 40.9959 174.616 40.4339 177.107C39.8719 179.598 37.4103 181.154 34.919 180.592L33.7035 185.98C36.1948 186.542 37.7502 189.003 37.1882 191.495C36.6263 193.986 34.1647 195.542 31.6734 194.98L30.4579 200.368C32.9492 200.93 34.5046 203.391 33.9426 205.883C33.3806 208.374 30.919 209.929 28.4277 209.367L27.2122 214.756C29.7036 215.318 31.259 217.779 30.697 220.27C30.135 222.762 27.6734 224.317 25.1821 223.755L23.9666 229.143C26.4579 229.705 28.0134 232.167 27.4514 234.658C26.8894 237.15 24.4278 238.705 21.9365 238.143L20.9998 242.295L23.9353 242.957C24.4973 240.466 26.9589 238.911 29.4502 239.473C31.9415 240.035 33.4969 242.496 32.9349 244.988L38.3231 246.203C38.8851 243.712 41.3467 242.156 43.838 242.718C46.3293 243.28 47.8848 245.742 47.3228 248.233L52.711 249.449C53.273 246.957 55.7345 245.402 58.2259 245.964C60.7172 246.526 62.2726 248.988 61.7106 251.479L67.0988 252.694C67.6608 250.203 70.1224 248.648 72.6137 249.21C75.105 249.772 76.6604 252.233 76.0984 254.724L81.4866 255.94C82.0486 253.449 84.5102 251.893 87.0015 252.455C89.4928 253.017 91.0482 255.479 90.4862 257.97L95.8744 259.186C96.4364 256.694 98.898 255.139 101.389 255.701C103.881 256.263 105.436 258.724 104.874 261.216L110.262 262.431C110.824 259.94 113.286 258.384 115.777 258.946C118.268 259.508 119.824 261.97 119.262 264.461L124.65 265.677C125.212 263.186 127.674 261.63 130.165 262.192C132.656 262.754 134.212 265.216 133.65 267.707L139.038 268.922C139.6 266.431 142.061 264.876 144.553 265.438C147.044 266 148.6 268.461 148.038 270.953L153.426 272.168C153.988 269.677 156.449 268.121 158.941 268.683C161.432 269.245 162.987 271.707 162.425 274.198L167.814 275.414C168.376 272.922 170.837 271.367 173.328 271.929C175.82 272.491 177.375 274.953 176.813 277.444L182.201 278.659C182.763 276.168 185.225 274.613 187.716 275.175C190.208 275.737 191.763 278.198 191.201 280.69L196.589 281.905C197.151 279.414 199.613 277.858 202.104 278.42C204.595 278.982 206.151 281.444 205.589 283.935L210.977 285.151C211.539 282.659 214.001 281.104 216.492 281.666C218.983 282.228 220.539 284.689 219.977 287.181L225.365 288.396C225.927 285.905 228.388 284.35 230.88 284.912C233.371 285.474 234.926 287.935 234.364 290.426L239.753 291.642C240.315 289.151 242.776 287.595 245.268 288.157C247.759 288.719 249.314 291.181 248.752 293.672L254.295 294.922L255.232 290.77C252.74 290.208 251.185 287.747 251.747 285.255Z"
                fill="#101010"></path>
              <path
                d="M251.747 285.255C252.309 282.764 254.771 281.209 257.262 281.771L258.477 276.382C255.986 275.82 254.431 273.359 254.993 270.867C255.555 268.376 258.016 266.821 260.507 267.383L261.723 261.995C259.232 261.433 257.676 258.971 258.238 256.48C258.8 253.988 261.262 252.433 263.753 252.995L264.969 247.607C262.477 247.045 260.922 244.583 261.484 242.092C262.046 239.6 264.507 238.045 266.999 238.607L268.214 233.219C265.723 232.657 264.167 230.195 264.729 227.704C265.291 225.213 267.753 223.657 270.244 224.219L271.46 218.831C268.969 218.269 267.413 215.807 267.975 213.316C268.537 210.825 270.999 209.269 273.49 209.831L274.705 204.443C272.214 203.881 270.659 201.42 271.221 198.928C271.783 196.437 274.244 194.882 276.736 195.444L277.951 190.055C275.46 189.493 273.904 187.032 274.466 184.54C275.028 182.049 277.49 180.494 279.981 181.056L281.197 175.668C278.705 175.106 277.15 172.644 277.712 170.153C278.274 167.661 280.736 166.106 283.227 166.668L284.442 161.28C281.951 160.718 280.396 158.256 280.958 155.765C281.52 153.274 283.981 151.718 286.473 152.28L287.688 146.892C285.197 146.33 283.641 143.868 284.203 141.377C284.765 138.886 287.227 137.33 289.718 137.892L290.934 132.504C288.442 131.942 286.887 129.481 287.449 126.989C288.011 124.498 290.472 122.942 292.964 123.504L294.179 118.116C291.688 117.554 290.133 115.093 290.695 112.601C291.257 110.11 293.718 108.555 296.209 109.117L297.425 103.728C294.934 103.166 293.378 100.705 293.94 98.2135C294.502 95.7222 296.964 94.1668 299.455 94.7288L300.671 89.3406C298.179 88.7786 296.624 86.317 297.186 83.8257C297.748 81.3344 300.209 79.779 302.701 80.341L303.916 74.9528C301.425 74.3908 299.869 71.9292 300.431 69.4379C300.993 66.9466 303.455 65.3912 305.946 65.9532L306.922 61.6271L301.379 60.3768C300.817 62.8681 298.356 64.4236 295.865 63.8616C293.373 63.2996 291.818 60.838 292.38 58.3467L286.992 57.1312C286.43 59.6225 283.968 61.1779 281.477 60.6159C278.985 60.0539 277.43 57.5923 277.992 55.101L272.604 53.8856C272.042 56.3769 269.58 57.9323 267.089 57.3703C264.598 56.8083 263.042 54.3467 263.604 51.8554L258.216 50.6399C257.654 53.1312 255.192 54.6867 252.701 54.1247C250.21 53.5627 248.654 51.1011 249.216 48.6098L243.828 47.3943C243.266 49.8856 240.805 51.441 238.313 50.879C235.822 50.317 234.267 47.8555 234.829 45.3641L229.44 44.1487C228.878 46.64 226.417 48.1954 223.925 47.6334C221.434 47.0714 219.879 44.6098 220.441 42.1185L215.053 40.903C214.491 43.3943 212.029 44.9498 209.538 44.3878C207.046 43.8258 205.491 41.3642 206.053 38.8729L200.665 37.6574C200.103 40.1487 197.641 41.7041 195.15 41.1421C192.658 40.5801 191.103 38.1186 191.665 35.6272L186.277 34.4118C185.715 36.9031 183.253 38.4585 180.762 37.8965C178.271 37.3345 176.715 34.8729 177.277 32.3816L171.889 31.1661C171.327 33.6575 168.865 35.2129 166.374 34.6509C163.883 34.0889 162.327 31.6273 162.889 29.136L157.501 27.9205C156.939 30.4118 154.478 31.9672 151.986 31.4052C149.495 30.8432 147.94 28.3817 148.502 25.8904L143.113 24.6749C142.551 27.1662 140.09 28.7216 137.598 28.1596C135.107 27.5976 133.552 25.136 134.114 22.6447L128.726 21.4292C128.164 23.9206 125.702 25.476 123.211 24.914C120.719 24.352 119.164 21.8904 119.726 19.3991L114.338 18.1836C113.776 20.6749 111.314 22.2303 108.823 21.6684C106.332 21.1064 104.776 18.6448 105.338 16.1535L99.9499 14.938C99.3879 17.4293 96.9263 18.9847 94.435 18.4227C91.9437 17.8607 90.3883 15.3991 90.9503 12.9078L85.5621 11.6923C85.0001 14.1837 82.5385 15.7391 80.0472 15.1771C77.5559 14.6151 76.0005 12.1535 76.5625 9.6622L73.627 9L72.6511 13.326C75.1424 13.888 76.6978 16.3496 76.1358 18.8409C75.5738 21.3322 73.1122 22.8876 70.6209 22.3256L69.4055 27.7138C71.8968 28.2758 73.4522 30.7374 72.8902 33.2287C72.3282 35.72 69.8666 37.2755 67.3753 36.7135L66.1598 42.1017C68.6511 42.6636 70.2066 45.1252 69.6446 47.6165C69.0826 50.1079 66.621 51.6633 64.1297 51.1013L62.9142 56.4895C65.4055 57.0515 66.9609 59.5131 66.3989 62.0044C65.8369 64.4957 63.3754 66.0511 60.884 65.4891L59.6686 70.8773C62.1599 71.4393 63.7153 73.9009 63.1533 76.3922C62.5913 78.8835 60.1297 80.4389 57.6384 79.8769L56.4229 85.2651C58.9142 85.8271 60.4697 88.2887 59.9077 90.78C59.3457 93.2713 56.8841 94.8268 54.3928 94.2648L53.1773 99.653C55.6686 100.215 57.224 102.677 56.662 105.168C56.1 107.659 53.6385 109.215 51.1471 108.653L49.9317 114.041C52.423 114.603 53.9784 117.064 53.4164 119.556C52.8544 122.047 50.3928 123.602 47.9015 123.04L46.686 128.429C49.1773 128.991 50.7328 131.452 50.1708 133.943C49.6088 136.435 47.1472 137.99 44.6559 137.428L43.4404 142.816C45.9317 143.378 47.4871 145.84 46.9251 148.331C46.3631 150.823 43.9016 152.378 41.4103 151.816L40.1948 157.204C42.6861 157.766 44.2415 160.228 43.6795 162.719C43.1175 165.21 40.6559 166.766 38.1646 166.204L36.9491 171.592C39.4405 172.154 40.9959 174.616 40.4339 177.107C39.8719 179.598 37.4103 181.154 34.919 180.592L33.7035 185.98C36.1948 186.542 37.7502 189.003 37.1882 191.495C36.6263 193.986 34.1647 195.542 31.6734 194.98L30.4579 200.368C32.9492 200.93 34.5046 203.391 33.9426 205.883C33.3806 208.374 30.919 209.929 28.4277 209.367L27.2122 214.756C29.7036 215.318 31.259 217.779 30.697 220.27C30.135 222.762 27.6734 224.317 25.1821 223.755L23.9666 229.143C26.4579 229.705 28.0134 232.167 27.4514 234.658C26.8894 237.15 24.4278 238.705 21.9365 238.143L20.9998 242.295L23.9353 242.957C24.4973 240.466 26.9589 238.911 29.4502 239.473C31.9415 240.035 33.4969 242.496 32.9349 244.988L38.3231 246.203C38.8851 243.712 41.3467 242.156 43.838 242.718C46.3293 243.28 47.8848 245.742 47.3228 248.233L52.711 249.449C53.273 246.957 55.7345 245.402 58.2259 245.964C60.7172 246.526 62.2726 248.988 61.7106 251.479L67.0988 252.694C67.6608 250.203 70.1224 248.648 72.6137 249.21C75.105 249.772 76.6604 252.233 76.0984 254.724L81.4866 255.94C82.0486 253.449 84.5102 251.893 87.0015 252.455C89.4928 253.017 91.0482 255.479 90.4862 257.97L95.8744 259.186C96.4364 256.694 98.898 255.139 101.389 255.701C103.881 256.263 105.436 258.724 104.874 261.216L110.262 262.431C110.824 259.94 113.286 258.384 115.777 258.946C118.268 259.508 119.824 261.97 119.262 264.461L124.65 265.677C125.212 263.186 127.674 261.63 130.165 262.192C132.656 262.754 134.212 265.216 133.65 267.707L139.038 268.922C139.6 266.431 142.061 264.876 144.553 265.438C147.044 266 148.6 268.461 148.038 270.953L153.426 272.168C153.988 269.677 156.449 268.121 158.941 268.683C161.432 269.245 162.987 271.707 162.425 274.198L167.814 275.414C168.376 272.922 170.837 271.367 173.328 271.929C175.82 272.491 177.375 274.953 176.813 277.444L182.201 278.659C182.763 276.168 185.225 274.613 187.716 275.175C190.208 275.737 191.763 278.198 191.201 280.69L196.589 281.905C197.151 279.414 199.613 277.858 202.104 278.42C204.595 278.982 206.151 281.444 205.589 283.935L210.977 285.151C211.539 282.659 214.001 281.104 216.492 281.666C218.983 282.228 220.539 284.689 219.977 287.181L225.365 288.396C225.927 285.905 228.388 284.35 230.88 284.912C233.371 285.474 234.926 287.935 234.364 290.426L239.753 291.642C240.315 289.151 242.776 287.595 245.268 288.157C247.759 288.719 249.314 291.181 248.752 293.672L254.295 294.922L255.232 290.77C252.74 290.208 251.185 287.747 251.747 285.255Z"
                stroke="#2B2B2B"
                stroke-width="2"
                stroke-miterlimit="10"></path>
            </g>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M140.331 136.321C139.051 141.004 135.257 140.372 131.549 139.535C127.841 138.699 124.111 137.147 120.307 136.289C116.077 135.335 111.778 134.69 107.481 134.126C102.548 133.501 99.3503 131.663 100.55 127.245C101.345 124.259 103.528 122.681 107.174 123.524L112.079 124.63C114.725 125.227 116.391 122.701 116.829 120.668L125.939 79.4743C126.44 77.2534 126.166 74.9591 123.526 74.4245L117.899 73.277C114.193 72.5222 112.56 69.5965 113.348 66.2834C114.332 62.1013 117.942 61.8402 121.339 62.7078C122.528 63.0166 125.068 63.6303 126.617 64.142C129.26 65.0223 132.084 65.639 134.807 66.2533C138.998 67.1987 143.221 67.4613 147.334 68.3892C151.216 69.2649 154.427 71.0446 153.596 75.8092C153.082 78.7172 149.579 80.119 146.348 79.3292L142.556 78.413C139.688 77.7252 137.498 79.4232 136.982 81.803L128.158 123.346C127.323 127.318 129.161 128.889 132.332 129.585L136.068 130.387C138.858 130.976 141.224 132.991 140.318 136.379L140.331 136.321Z"
              fill="white"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M247.091 179.847C246.608 181.808 245.707 183.106 244.728 183.758C242.808 185.071 238.835 184.418 236.817 183.557C235.687 183.079 234.565 182.744 233.938 182.644C231.144 182.257 229.265 183.659 227.246 185.68L202.375 210.553L199.425 222.369C198.757 225.06 198.782 227.562 201.96 228.137L207.072 229.046C210.154 229.599 212.572 232.195 211.937 235.461C211.112 239.659 207.4 240.729 203.662 239.663C201.337 238.996 199.252 238.161 197.384 237.354C193.402 235.664 190.468 235.266 186.203 234.831C182.235 234.423 179.177 234.038 177.119 233.533C173.795 232.702 170.925 230.309 171.381 226.759C171.83 223.329 174.952 221.638 178.212 222.658L182.557 224.003C184.226 224.522 186.657 224.177 187.145 222.197L190.426 208.913L178.267 173.921C177.604 172.006 176.197 170.592 174.749 169.636C172.876 168.402 170.779 167.889 168.575 167.675C166.789 167.496 166.528 167.214 166.083 167.113C162.299 166.077 161.036 164.027 162.031 160.517C163.28 156.151 165.904 156.032 170.134 156.986C170.867 157.152 172.586 157.54 175.93 158.822C178.377 159.759 180.506 160.037 182.142 160.345C186.483 161.162 191.147 161.361 195.369 162.436C197.712 163.025 199.271 163.945 200.299 164.786C201.738 165.963 202.502 167.434 201.969 169.526C201.454 171.541 200.257 173.158 198.906 173.746C197.889 174.207 195.477 173.744 193.623 173.326C190.242 172.482 189.924 174.521 190.783 175.75L198.697 198.338L216.23 180.983C216.735 180.001 218.488 178.529 214.747 178.111C213.596 177.994 213.456 177.983 212.113 177.639C210.176 177.141 208.93 176.454 208.333 175.772C206.346 173.517 207.01 171.921 207.997 169.526C208.711 167.8 210.323 167.311 212.011 167.205C213.762 167.092 215.457 167.495 217.195 167.887C219.146 168.327 221.072 168.964 222.899 169.681C226.297 170.995 228.803 171.581 232.414 171.949C234.912 172.208 237.925 172.259 240.663 172.897C242.536 173.319 244.33 173.825 245.717 175.052C247.051 176.245 247.68 177.869 247.192 179.849L247.091 179.847Z"
              fill="white"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M160.716 160.058C159.472 164.851 156.331 165.279 151.89 164.277C151.907 164.2 144.85 161.837 143.996 165.622L133.274 213.15C131.98 218.886 127.98 223.666 121.915 222.298C117.995 221.414 114.184 218.423 113.407 214.31L102.604 156.488L93.1826 197.713C92.4289 201.054 92.8711 203.143 96.2532 203.804L100.412 204.621C104.146 205.341 106.238 207.944 105.251 211.78C104.172 216.022 100.762 216.207 97.1503 215.392C92.7856 214.408 88.9471 212.08 84.6118 211.326C80.0061 210.51 75.4398 210.15 70.882 209.122C66.9423 208.233 64.2426 206.345 65.2751 201.768C66.1377 197.944 68.7024 197.731 72.0802 198.412L76.6597 199.344C79.3959 199.9 81.3287 199.159 81.8515 196.841L91.6886 153.234C92.1896 151.013 91.5732 149.697 88.5194 149.109L84.5878 148.364C79.9565 147.482 78.3802 146.193 79.5329 141.623C80.5549 137.632 83.6551 136.484 88.6472 138.016C91.361 138.852 94.0872 139.812 96.8682 140.439C99.9003 141.123 102.95 141.73 105.982 142.414C111.08 143.564 112.392 147.107 113.393 152.204L123.537 204.134L132.568 164.099C132.973 162.303 132.549 160.767 132.115 160.08C131.681 159.394 130.858 158.904 129.699 158.642L124.94 157.609C121.459 156.844 118.825 154.667 119.619 151.416C120.914 146.127 125.996 146.36 130.302 147.514C134.473 148.638 138.773 150.805 142.956 151.607C146.922 152.38 151.093 152.245 154.989 153.327C160.031 154.728 161.464 157.101 160.72 160.038L160.716 160.058Z"
              fill="white"></path>
            <path
              d="M186.271 127.119L209.697 132.404C210.141 132.504 210.503 132.788 210.695 133.197L219.075 152.46C219.075 152.46 219.13 152.574 219.156 152.641L221.305 159.579L195.272 153.707C194.769 153.594 194.367 153.219 194.197 152.713L186.275 127.1"
              fill="#EE2F32"></path>
            <path
              d="M221.281 159.595L239.412 139.858C239.763 139.471 239.881 138.949 239.73 138.448L223.93 87.2105C223.78 86.7097 223.377 86.3348 222.856 86.2171L199.275 80.8978C198.194 80.6538 197.233 81.675 197.56 82.7433L221.281 159.595Z"
              fill="#EE2F32"></path>
            <path
              d="M178.934 100.887L204.967 106.759L169.29 145.614C168.536 146.438 167.165 146.129 166.838 145.06L159.673 121.85C159.522 121.349 159.64 120.828 159.991 120.44L177.56 101.307C177.911 100.92 178.436 100.754 178.957 100.872L178.934 100.887Z"
              fill="#EE2F32"></path>
            <defs>
              <filter
                id="filter0_d_0_724"
                x="0.804321"
                y="0.804443"
                width="326.313"
                height="326.313"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood>
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"></feColorMatrix>
                <feOffset dy="12"></feOffset>
                <feGaussianBlur stdDeviation="9.5"></feGaussianBlur>
                <feComposite in2="hardAlpha" operator="out"></feComposite>
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                ></feColorMatrix>
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_0_724"></feBlend>
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_0_724"
                  result="shape"></feBlend>
              </filter>
            </defs>
          </svg>

          <svg
            width="1060"
            class="absolute -left-[10%] -top-[8%] z-[2] w-full"
            height="774"
            viewBox="0 0 1060 774"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g filter="url(#filter0_d_0_665)">
              <path
                d="M138.246 723.692C144.367 722.77 150.12 727.018 151.042 733.142L170.012 730.284C169.09 724.161 173.336 718.407 179.457 717.485C185.578 716.563 191.33 720.811 192.253 726.934L211.223 724.077C210.3 717.954 214.546 712.199 220.667 711.277C226.788 710.355 232.541 714.604 233.463 720.727L252.433 717.87C251.511 711.746 255.757 705.992 261.878 705.07C267.998 704.148 273.751 708.396 274.674 714.52L293.643 711.662C292.721 705.539 296.967 699.784 303.088 698.863C309.209 697.941 314.962 702.189 315.884 708.312L334.854 705.455C333.932 699.332 338.178 693.577 344.299 692.655C350.419 691.733 356.172 695.982 357.094 702.105L376.064 699.247C375.142 693.124 379.388 687.37 385.509 686.448C391.63 685.526 397.383 689.774 398.305 695.897L417.275 693.04C416.352 686.917 420.599 681.162 426.719 680.24C432.84 679.318 438.593 683.567 439.515 689.69L458.485 686.833C457.563 680.709 461.809 674.955 467.93 674.033C474.051 673.111 479.803 677.359 480.726 683.483L499.696 680.625C498.773 674.502 503.019 668.748 509.14 667.826C515.261 666.904 521.014 671.152 521.936 677.275L540.906 674.418C539.984 668.295 544.23 662.54 550.351 661.618C556.471 660.696 562.224 664.945 563.146 671.068L582.116 668.211C581.194 662.087 585.44 656.333 591.561 655.411C597.682 654.489 603.435 658.737 604.357 664.861L623.327 662.003C622.404 655.88 626.651 650.125 632.771 649.203C638.892 648.281 644.645 652.53 645.567 658.653L664.537 655.796C663.615 649.673 667.861 643.918 673.982 642.996C680.103 642.074 685.855 646.323 686.778 652.446L705.748 649.588C704.825 643.465 709.071 637.711 715.192 636.789C721.313 635.867 727.066 640.115 727.988 646.238L746.958 643.381C746.036 637.258 750.282 631.503 756.403 630.581C762.523 629.659 768.276 633.908 769.199 640.031L788.168 637.174C787.246 631.05 791.492 625.296 797.613 624.374C803.734 623.452 809.487 627.7 810.409 633.824L829.379 630.966C828.457 624.843 832.703 619.088 838.823 618.167C844.944 617.245 850.697 621.493 851.619 627.616L870.589 624.759C869.667 618.636 873.913 612.881 880.034 611.959C886.155 611.037 891.907 615.286 892.83 621.409L911.8 618.551C910.877 612.428 915.123 606.674 921.244 605.752C927.365 604.83 933.118 609.078 934.04 615.201L953.01 612.344C952.088 606.221 956.334 600.466 962.455 599.544C968.576 598.622 974.328 602.871 975.251 608.994L994.221 606.137C993.298 600.013 997.544 594.259 1003.67 593.337C1009.79 592.415 1015.54 596.663 1016.46 602.787L1027.49 601.126L1025.42 587.43C1019.3 588.352 1013.55 584.104 1012.63 577.981C1011.71 571.857 1015.95 566.103 1022.07 565.181L1019.36 547.185C1013.24 548.107 1007.49 543.859 1006.57 537.735C1005.64 531.612 1009.89 525.858 1016.01 524.936L1013.3 506.94C1007.18 507.862 1001.43 503.614 1000.51 497.49C999.583 491.367 1003.83 485.613 1009.95 484.691L1007.24 466.695C1001.12 467.617 995.365 463.368 994.443 457.245C993.521 451.122 997.767 445.367 1003.89 444.446L1001.18 426.45C995.056 427.372 989.303 423.123 988.381 417C987.459 410.877 991.705 405.122 997.826 404.2L995.115 386.205C988.994 387.127 983.241 382.878 982.319 376.755C981.397 370.632 985.643 364.877 991.764 363.955L989.053 345.959C982.932 346.881 977.179 342.633 976.257 336.51C975.335 330.387 979.581 324.632 985.702 323.71L982.991 305.714C976.87 306.636 971.117 302.388 970.195 296.265C969.273 290.141 973.519 284.387 979.64 283.465L976.929 265.469C970.808 266.391 965.055 262.143 964.133 256.02C963.211 249.896 967.457 244.142 973.578 243.22L970.867 225.224C964.746 226.146 958.993 221.898 958.071 215.774C957.149 209.651 961.395 203.897 967.516 202.975L964.805 184.979C958.684 185.901 952.932 181.653 952.009 175.529C951.087 169.406 955.333 163.652 961.454 162.73L958.743 144.734C952.622 145.656 946.87 141.407 945.947 135.284C945.025 129.161 949.271 123.406 955.392 122.484L952.681 104.489C946.56 105.411 940.808 101.162 939.885 95.039C938.963 88.9158 943.209 83.1613 949.33 82.2394L946.619 64.2436C940.498 65.1655 934.746 60.9172 933.823 54.7939C932.901 48.6707 937.147 42.9162 943.268 41.9942L941.311 28.9999L930.284 30.6608C931.206 36.7841 926.96 42.5385 920.839 43.4605C914.718 44.3824 908.966 40.1341 908.043 34.0108L889.073 36.8682C889.996 42.9914 885.75 48.7459 879.629 49.6679C873.508 50.5898 867.755 46.3414 866.833 40.2182L847.863 43.0756C848.785 49.1988 844.539 54.9533 838.418 55.8752C832.297 56.7972 826.545 52.5488 825.622 46.4256L806.652 49.283C807.575 55.4062 803.329 61.1607 797.208 62.0826C791.087 63.0046 785.334 58.7562 784.412 52.633L765.442 55.4903C766.364 61.6136 762.118 67.3681 755.997 68.29C749.877 69.212 744.124 64.9636 743.202 58.8403L724.232 61.6977C725.154 67.821 720.908 73.5754 714.787 74.4974C708.666 75.4194 702.913 71.171 701.991 65.0477L683.021 67.9051C683.944 74.0283 679.697 79.7828 673.577 80.7048C667.456 81.6267 661.703 77.3784 660.781 71.2551L641.811 74.1125C642.733 80.2357 638.487 85.9902 632.366 86.9122C626.245 87.8341 620.493 83.5857 619.57 77.4625L600.6 80.3199C601.523 86.4431 597.277 92.1976 591.156 93.1195C585.035 94.0415 579.282 89.7931 578.36 83.6699L559.39 86.5272C560.312 92.6505 556.066 98.405 549.945 99.3269C543.825 100.249 538.072 96.0005 537.149 89.8773L518.18 92.7346C519.102 98.8579 514.856 104.612 508.735 105.534C502.614 106.456 496.861 102.208 495.939 96.0846L476.969 98.942C477.891 105.065 473.645 110.82 467.525 111.742C461.404 112.664 455.651 108.415 454.729 102.292L435.759 105.149C436.681 111.273 432.435 117.027 426.314 117.949C420.193 118.871 414.441 114.623 413.518 108.499L394.548 111.357C395.471 117.48 391.225 123.234 385.104 124.156C378.983 125.078 373.23 120.83 372.308 114.707L353.338 117.564C354.26 123.687 350.014 129.442 343.893 130.364C337.773 131.286 332.02 127.037 331.097 120.914L312.127 123.772C313.05 129.895 308.804 135.649 302.683 136.571C296.562 137.493 290.809 133.245 289.887 127.122L270.917 129.979C271.839 136.102 267.593 141.857 261.473 142.779C255.352 143.701 249.599 139.452 248.677 133.329L229.707 136.186C230.629 142.31 226.383 148.064 220.262 148.986C214.141 149.908 208.388 145.66 207.466 139.536L188.496 142.394C189.419 148.517 185.172 154.271 179.052 155.193C172.931 156.115 167.178 151.867 166.256 145.744L147.286 148.601C148.208 154.724 143.962 160.479 137.841 161.401C131.72 162.323 125.968 158.074 125.045 151.951L106.075 154.808C106.998 160.932 102.752 166.686 96.6309 167.608C90.51 168.53 84.7572 164.282 83.8349 158.158L64.865 161.016C65.7873 167.139 61.5412 172.894 55.4204 173.816C49.2996 174.737 43.5468 170.489 42.6245 164.366L32.9994 165.816L34.9567 178.81C41.0774 177.888 46.8303 182.136 47.7526 188.26C48.6749 194.383 44.4288 200.137 38.308 201.059L41.0186 219.055C47.1394 218.133 52.8923 222.382 53.8146 228.505C54.7369 234.628 50.4907 240.383 44.37 241.304L47.0806 259.3C53.2014 258.378 58.9543 262.627 59.8766 268.75C60.7989 274.873 56.5527 280.628 50.432 281.55L53.1426 299.545C59.2634 298.623 65.0162 302.872 65.9386 308.995C66.8609 315.118 62.6147 320.873 56.4939 321.795L59.2046 339.791C65.3254 338.869 71.0782 343.117 72.0005 349.24C72.9229 355.363 68.6767 361.118 62.5559 362.04L65.2666 380.036C71.3873 379.114 77.1402 383.362 78.0625 389.485C78.9848 395.609 74.7387 401.363 68.6179 402.285L71.3286 420.281C77.4493 419.359 83.2022 423.607 84.1245 429.73C85.0468 435.854 80.8007 441.608 74.6799 442.53L77.3905 460.526C83.5113 459.604 89.2642 463.852 90.1865 469.976C91.1088 476.099 86.8627 481.853 80.7419 482.775L83.4525 500.771C89.5733 499.849 95.3262 504.097 96.2485 510.221C97.1708 516.344 92.9246 522.098 86.8039 523.02L89.5145 541.016C95.6353 540.094 101.388 544.343 102.31 550.466C103.233 556.589 98.9866 562.344 92.8658 563.265L95.5765 581.261C101.697 580.339 107.45 584.588 108.372 590.711C109.295 596.834 105.049 602.589 98.9278 603.511L101.638 621.506C107.759 620.584 113.512 624.833 114.434 630.956C115.357 637.079 111.111 642.834 104.99 643.756L107.7 661.752C113.821 660.83 119.574 665.078 120.496 671.201C121.419 677.324 117.173 683.079 111.052 684.001L113.762 701.997C119.883 701.075 125.636 705.323 126.558 711.446C127.481 717.57 123.235 723.324 117.114 724.246L119.177 737.942L128.802 736.492C127.879 730.368 132.126 724.614 138.246 723.692Z"
                fill="#C7C2B7"
                stroke="#F1E8D7"
                stroke-width="1.82261"
                stroke-miterlimit="10"></path>
              <path
                d="M989.376 572.736L913.248 67.3257L70.5185 194.263L146.647 699.674L989.376 572.736Z"
                fill="#FF414C"></path>
              <path
                d="M204.269 283.195L230.713 307.745L236.109 316.802L192.983 323.298L165.752 288.997L204.269 283.195Z"
                fill="#D9D9D9"></path>
              <path
                d="M236.1 316.808L251.983 276.012L197.554 207.386L154.439 213.88L236.1 316.808Z"
                fill="#D9D9D9"></path>
              <path
                d="M138.535 254.673L181.65 248.179L149.868 329.791L122.637 295.489L138.535 254.673Z"
                fill="#D9D9D9"></path>
              <path
                d="M692.424 81.0055C692.424 81.0055 686.092 102.07 691.591 104.63C697.09 107.189 705.337 104.587 705.222 95.988C705.077 87.3652 707.977 81.9034 707.977 81.9034C707.977 81.9034 703.108 82.377 701.972 87.3074C701.659 82.5842 699.335 77.842 699.335 77.842C699.335 77.842 695.95 83.6239 695.712 87.0318C694.95 83.0699 692.451 81.0016 692.451 81.0016L692.424 81.0055Z"
                fill="#231F20"></path>
              <path
                d="M879.963 327.179L885.112 311.302L858.142 300.995L852.232 317.985C852.232 317.985 840.618 312.257 839.095 307.847C837.548 303.467 829.836 280.368 820.944 277.681C815.731 276.14 815.145 276.531 815.196 274.544C815.195 272.592 811.501 272.117 811.501 272.117C811.501 272.117 805.264 263.613 803.814 256.598C806.051 253.127 805.637 252.378 805.637 252.378C805.637 252.378 800.028 240.661 800.511 235.657C801.038 233.1 801.018 200.006 771.688 204.201C749.403 207.724 758.529 234.078 758.529 234.078C758.529 234.078 760.928 249.879 756.887 253.413C752.732 250.884 750.053 250.096 749.502 244.097C748.946 238.07 742.599 224.507 738.975 226.67C736.109 223.79 736.62 222.88 736.483 219.777C736.346 216.674 732.697 205.011 726.131 190.113C719.623 175.234 717.45 161.213 716.875 156.026C716.293 150.979 713.062 141.459 708.227 139.055L707.348 132.907C708.73 132.236 709.542 131.478 709.441 130.768C709.355 130.167 708.62 129.714 707.464 129.433C712.549 127.925 715.899 125.801 715.629 123.916C715.598 123.697 715.512 123.486 715.375 123.311C716.738 122.307 717.456 121.284 717.316 120.301C717.054 118.47 714.05 114.048 713.847 112.627C713.526 110.387 708.149 109.26 701.218 109.749C702.674 109.206 703.553 108.523 703.467 107.922L703.131 105.572C702.99 104.588 700.167 104.156 696.859 104.629C693.552 105.102 690.935 106.313 691.076 107.297L691.412 109.646C691.498 110.247 692.533 110.657 694.083 110.77C687.265 112.247 682.416 114.809 682.74 117.077C682.943 118.498 681.3 123.584 681.562 125.415C681.703 126.399 682.679 127.179 684.269 127.76C684.187 127.967 684.163 128.194 684.194 128.412C684.39 129.779 686.452 130.738 689.584 131.183C690.025 133.099 691.076 136.35 693.333 137.505C695.138 138.418 691.811 140.511 692.112 142.615C692.413 144.719 693.151 144.614 693.081 146.269C693.011 147.924 694.19 149.735 694.464 150.672C694.768 151.632 693.269 152.655 694.792 154.919C696.312 157.155 699.295 158.903 699.799 162.428L701.832 176.636C701.832 176.636 703.242 182.206 706.339 182.6C707.539 188.841 708.534 211.59 716.126 221.379C719.314 232.94 721.74 239.369 721.74 239.369C721.74 239.369 707.054 274.566 721.187 282.108C725.065 283.868 729.361 284.062 729.361 284.062C729.361 284.062 723.634 298.237 733.221 295.053C734.603 299.456 733.519 310.988 739.338 310.323C736.196 321.312 738.024 323.365 742.55 327.513C747.1 331.63 746.983 335.104 746.983 335.104C746.983 335.104 726.637 387.088 751.669 390.088C743.447 409.053 747.164 432.891 759.013 441.429C760.348 464.604 763.124 489.274 766.607 490.421C765.062 499.703 768.385 527.222 775.193 538.935C777.208 544.251 782.568 558.318 780.996 570.728C779.424 583.138 783.106 611.024 783.106 611.024L879.816 597.189C879.816 597.189 868.951 558.481 866.757 537.687C870.454 527.455 870.43 526.12 869.695 518.836C868.929 511.529 864.451 488.609 864.451 488.609C864.451 488.609 870.57 488.877 869.276 481.979C867.983 475.082 867.522 471.858 867.522 471.858C867.522 471.858 870.04 470.355 869.325 466.33C868.586 462.337 854.736 405.681 854.736 405.681C854.736 405.681 860.836 408.935 865.38 399.558C872.448 399.048 876.538 381.817 873.165 360.384C879.839 359.262 880.138 351.802 880.692 348.265C881.246 344.729 884.92 334.333 883.275 331.417C881.662 328.525 880.112 327.241 880.112 327.241L879.963 327.179Z"
                fill="#C7C2B7"></path>
              <path
                d="M786.605 313.515C792.472 297.787 802.904 281.795 804.485 279.394C802.146 282.935 779.689 316.652 774.485 323.168C768.98 330.117 758.168 344.044 753.73 354.549C756.099 344.201 766.767 312.505 799.986 278.56C799.986 278.56 748.173 326.625 750.05 374.259C747.135 362.073 749.004 350.764 749.004 350.764C749.004 350.764 732.416 379.877 751.633 388.058C752.166 373.455 758.528 347.729 773.416 330.319C782.127 321.601 780.768 326.73 779.027 331.915C777.286 337.099 759.737 395.57 757.596 415.311C755.459 435.079 756.201 437.342 758.708 438.49C758.117 426.752 762.734 408.915 766.996 388.398C771.23 367.883 775.015 343.251 786.597 313.461L786.605 313.515ZM798.564 303.328C798.564 303.328 784.503 397.883 779.698 438.582C776.093 467.008 770.752 471.788 770.752 471.788C770.752 471.788 777.461 476.376 783.698 424.431C789.932 372.458 798.592 303.324 798.592 303.324L798.564 303.328ZM804.209 322.122C799.421 345.978 812.666 487.512 812.666 487.512L804.209 322.122ZM879.967 327.178L885.116 311.301L881.074 309.761L875.749 324.213C878.143 326.519 883.291 331.889 881.854 333.74C879.964 336.129 877.351 331.512 875.196 329.506C874.813 329.17 874.442 328.917 874.086 328.772L873.025 331.685C873.525 331.864 874.091 332.118 874.618 332.488C876.789 334.018 878.715 335.973 877.793 337.332C876.868 338.663 875.244 338.617 873.971 337.516C875.556 339.046 875.197 339.46 874.576 340.385C873.928 341.314 871.359 341.877 871.472 342.67C871.585 343.462 871.339 344.083 872.191 345.355C873.042 346.627 872.187 347.67 871.402 348.228C870.7 348.775 870.176 348.627 867.747 346.074L854.955 380.667L853.241 380.187L848.089 315.706C844.586 313.642 840.064 310.497 839.126 307.842C837.579 303.463 829.868 280.364 820.976 277.677C815.762 276.136 815.176 276.526 815.227 274.54C815.227 272.588 811.532 272.112 811.532 272.112C811.532 272.112 805.295 263.608 803.845 256.594C806.082 253.123 805.668 252.374 805.668 252.374C805.668 252.374 800.059 240.657 800.543 235.652C800.718 234.735 800.839 229.727 799.483 223.954L825.216 217.233L797.967 219.012C797.428 217.584 796.78 216.171 795.995 214.777L816.584 200.177L792.194 210.637C790.804 209.497 789.176 208.448 787.082 207.66L795.94 185.341L781.713 206.392C780.209 206.217 778.522 206.124 776.625 206.116C776.125 206.132 775.652 206.144 775.156 206.187L764.492 180.387L769.057 207.227C766.972 207.86 765.172 208.731 763.578 209.683L738.186 196.168L759.256 213.006C758.838 213.401 758.452 213.818 758.089 214.205C757.64 215.357 757.335 216.543 757.117 217.746L736.483 221.116C736.452 220.702 736.444 220.257 736.452 219.726C736.315 216.623 732.666 204.96 726.1 190.062C719.592 175.183 717.419 161.162 716.844 155.975C716.262 150.927 713.031 141.408 708.196 139.004L707.317 132.856C707.446 132.782 707.578 132.735 707.68 132.665C708.301 132.325 708.754 131.982 709.039 131.634C709.066 131.63 709.093 131.626 709.085 131.572C709.109 131.54 709.156 131.478 709.175 131.419C709.171 131.392 709.222 131.357 709.246 131.326C709.269 131.294 709.288 131.236 709.312 131.205C709.304 131.15 709.328 131.119 709.347 131.06C709.347 131.06 709.394 130.998 709.39 130.97C709.378 130.888 709.394 130.803 709.382 130.721C709.296 130.119 708.562 129.667 707.406 129.386C712.49 127.878 715.84 125.754 715.571 123.868C715.539 123.65 715.453 123.439 715.317 123.263C716.679 122.26 717.398 121.237 717.257 120.253C716.995 118.423 713.992 114.001 713.788 112.58C713.468 110.339 708.091 109.213 701.159 109.702C702.616 109.159 703.494 108.476 703.408 107.875L703.072 105.525C703.017 105.142 702.584 104.842 701.862 104.666C702.131 105.576 702.143 106.634 700.995 107.383C699.57 108.34 698.059 109.672 698.059 109.672C698.059 109.672 709.38 111.008 710.38 114.294C710.716 115.473 708.638 116.161 705.71 116.747C703.511 116.783 701.11 116.959 698.622 117.315C688.918 118.703 681.413 122.202 681.832 125.126C681.882 125.481 682.035 125.766 682.273 126.066C683.366 123.568 689.344 120.9 697.045 119.548C703.484 119.129 706.991 119.854 708.299 120.81C705.73 120.592 702.539 120.714 699.177 121.195C690.895 122.379 684.487 125.359 684.843 127.846C685.042 129.239 687.264 130.148 690.583 130.538C693.11 129.479 696.445 128.612 700.162 128.08L701.255 127.924C700.584 128.884 700.205 129.942 700.405 131.14C696.468 131.704 692.931 132.712 690.416 133.852C690.666 134.43 690.943 135.003 691.267 135.515C692.197 135.187 693.185 134.878 694.231 134.589C694.239 135.424 694.427 136.541 695.344 136.326C696.828 135.974 700.046 136.824 700.932 136C701.846 135.172 703.884 134.017 704.498 135.574C705.111 137.131 708.938 138.731 709.017 141.814C709.072 144.929 704.745 143.931 703.55 142.206C702.351 140.454 700.163 138.62 700.054 140.002C699.945 141.383 698.828 141.766 697.555 142.422C696.255 143.082 695.752 144.047 695.752 144.047C695.752 144.047 699.961 143.249 702.074 144.369C704.218 145.512 705.096 145.805 704.78 147.3C704.492 148.791 703.035 149.334 703.035 149.334C703.035 149.334 703.992 152.906 701.805 152.828C699.642 152.719 697.834 153.731 698.143 155.499C701.829 154.553 706.379 156.524 706.934 160.013C707.493 163.53 709.654 179.031 709.654 179.031C709.654 179.031 709.408 181.408 707.749 181.701C709.983 181.716 711.389 184.917 713.107 187.961C714.803 191.036 723.023 197.417 726.626 210.118L734.89 247.024C734.89 247.024 738.609 235.199 739.742 235.121C740.906 235.066 743.268 235.982 740.306 245.301C737.347 254.647 727.083 270.252 725.509 271.536C723.908 272.825 722.436 271.892 723.119 268.672C723.833 265.474 726.592 252.393 726.592 252.393L723.252 242.303C723.252 242.303 718.455 259.273 718.983 262.962C722.61 257.703 724.097 257.574 724.097 257.574C724.097 257.574 720.765 272.299 721.96 277.537C723.16 282.802 734.451 263.844 737.409 256.255C740.337 248.642 742.805 244.637 743.621 246.054C744.437 247.47 734.525 269.828 729.969 275.22C725.741 280.175 725.522 280.987 721.082 281.928C721.082 281.928 721.082 281.928 721.141 281.948C725.019 283.708 729.314 283.902 729.314 283.902C729.314 283.902 723.587 298.077 733.174 294.893C733.209 295.139 733.299 295.377 733.365 295.646C734.021 290.088 735.335 282.315 738.06 275.039C738.06 275.039 734.327 306.271 737.44 307.555C738.177 304.327 741.058 297.362 741.058 297.362C741.058 297.362 738.377 277.642 743.074 275.966C743.505 282.095 745.411 288.012 745.411 288.012C745.411 288.012 750.74 275.539 751.704 272.529C753.207 271.143 753.992 271.365 753.992 271.365C753.992 271.365 744.956 301.015 741.892 309.818C740.217 314.686 738.894 318.5 738.086 321.627C738.793 323.84 740.324 325.378 742.472 327.329C743.663 328.441 744.565 329.483 745.202 330.424C746.575 319.548 749.579 297.844 753.603 283.662C759.142 264.076 762.172 261.468 763.754 263.751C765.308 266.038 770.056 264.522 770.056 264.522C770.056 264.522 770.158 263.671 770.29 262.258C773.682 280.51 791.309 278.156 791.309 278.156C791.309 278.156 790.653 278.25 785.178 276.83C774.357 272.941 770.919 264.12 770.267 262.094C770.458 259.139 770.528 253.971 769.242 249.08C767.23 241.645 766.339 237.562 768.518 236.609C770.904 235.933 774.145 235.971 773.981 234.823C773.817 233.676 773.668 231.271 771.7 231.553C769.732 231.834 767.916 232.01 767.053 233.974C766.14 235.973 764.671 232.726 768.138 229.664C771.609 226.631 775.76 225.033 775.565 222.691C775.576 222.187 777.478 222.417 778.826 223.646C780.2 224.872 783.59 226.339 784.465 226.994C785.336 227.623 785.14 227.818 782.134 228.248C779.127 228.678 777.206 229.287 777.616 233.718C778.023 238.121 778.879 240.982 777.563 241.338C776.192 241.701 774.814 241.814 774.954 242.798C775.095 243.782 776.762 242.958 777.399 243.703C778.063 244.445 778.555 245.155 777.79 245.264C777.024 245.374 774.154 247.151 774.736 248.49C775.787 247.057 777.017 246.295 778.641 246.342C780.289 246.357 781.137 247.407 779.711 247.778C778.29 248.176 776.279 248.353 776.349 248.844C776.42 249.336 778.243 249.02 779.661 248.984C781.051 248.952 782.453 249.003 782.773 250.072C783.062 251.118 783.387 253.386 780.138 254.074C776.893 254.789 771.754 255.524 771.926 256.336C772.125 257.144 776.245 260.793 782.127 264.859C788.008 268.925 788.739 269.155 788.235 271.681C787.759 274.203 789.606 275.807 793.785 275.376C797.908 274.954 803.133 275.796 804.434 277.478C805.558 275.393 808.718 283.445 813.147 282.226C817.571 280.98 824.616 287.919 826.652 295.518C828.691 303.145 830.981 310.569 830.981 310.569C830.981 310.569 814.455 285.524 811.351 285.662C816.01 293.667 814.323 322.627 812.867 326.488C811.415 330.376 812.478 333.124 815.657 333.701C818.835 334.278 824.203 350.937 830.907 372.256C837.607 393.549 852.115 460.065 852.115 460.065C852.115 460.065 808.832 487.81 813.913 494.082C818.998 500.381 835.282 501.899 819.859 513.028C804.439 524.184 788.59 530.383 790.426 539.517C795.483 537.037 800.087 538.999 800.651 548.594C801.152 557.166 802.247 602.263 795.536 608.967L799.554 608.392C801.674 604.492 800.971 575.204 802.309 565.644C804.732 547.871 799.747 536.427 803.843 531.129C807.97 525.854 808.646 528.824 809.181 532.568C809.682 536.065 817.159 591.458 806.602 607.356L847.303 601.534C846.131 597.826 839.684 564.647 837.765 555.72C835.342 544.635 831.7 518.193 834.796 517.025C837.865 515.861 838.568 514.144 838.197 511.548C837.825 508.952 843.409 502.744 844.144 514.517C844.876 526.263 846.607 594.913 850.501 595.806C854.25 596.664 862.516 593.418 865.399 598.945L865.563 598.922C862.082 585.116 852.739 512.005 856.245 505.899C859.821 499.699 861.69 520.372 862.785 528.999C863.727 536.364 873.582 586.733 877.754 597.178L879.695 596.9C879.695 596.9 868.83 558.191 866.636 537.398C870.333 527.166 870.309 525.831 869.574 518.547C868.808 511.24 864.33 488.32 864.33 488.32C864.33 488.32 870.449 488.587 869.155 481.69C867.862 474.793 867.401 471.569 867.401 471.569C867.401 471.569 869.919 470.065 869.204 466.041C868.465 462.048 854.615 405.392 854.615 405.392C854.615 405.392 860.715 408.646 865.259 399.268C872.327 398.759 876.417 381.528 873.044 360.094C879.718 358.973 880.017 351.513 880.571 347.976C881.125 344.439 884.799 334.043 883.154 331.128C881.541 328.236 879.991 326.952 879.991 326.952L879.967 327.178ZM738.971 226.615C736.757 224.395 736.55 223.337 736.515 221.529L756.723 222.598C756.708 223.855 756.801 225.096 756.911 226.252L744.607 230.911C742.677 227.758 740.537 225.666 738.944 226.619L738.971 226.615ZM756.915 253.381C752.759 250.853 750.08 250.065 749.529 244.065C749.271 241.286 747.751 236.903 745.88 233.183L757.814 231.392C758.189 233.04 758.556 234.047 758.556 234.047C758.556 234.047 760.956 249.847 756.915 253.381ZM785.39 223.516C779.391 220.192 776.099 218.042 773.538 220.025C771.004 222.005 766.463 229.848 764.085 228.237C761.706 226.625 762.69 222.971 763.736 221.316C763.736 221.316 769.733 210.783 786.193 215.873C791.981 218.307 791.388 226.84 785.39 223.516ZM785.836 466.479C785.22 476.019 784.018 538.788 784.018 538.788L789.402 445.391C789.402 445.391 786.448 456.911 785.836 466.479Z"
                fill="#231F20"></path>
              <path
                d="M212.659 609.14L213.1 616.892C209.159 611.416 201.668 609.253 194.153 610.385C180.038 612.511 172.124 624.092 174.472 639.683C176.806 655.173 187.033 665.153 201.96 662.905C210.084 661.681 215.485 656.856 217.86 651.252L219.839 658.875L231.415 657.131L223.931 607.442L212.659 609.14ZM215.081 634.183C216.43 643.135 211.769 650.112 203.137 651.412C194.505 652.713 188.286 647.272 186.952 638.42C185.619 629.569 190.047 622.421 198.678 621.121C207.31 619.821 213.733 625.231 215.081 634.183Z"
                fill="#D9D9D9"></path>
              <path
                d="M252.495 653.956L250.48 640.578L256.655 631.933L272.906 650.881L287.123 648.74L263.923 621.58L280.044 598.99L264.508 601.33L248.146 625.088L241.443 580.584L229.156 582.435L240.207 655.807L252.495 653.956Z"
                fill="#D9D9D9"></path>
              <path
                d="M321.243 592.785L321.683 600.536C317.743 595.06 310.251 592.897 302.737 594.029C288.622 596.155 280.708 607.737 283.056 623.327C285.389 638.817 295.616 648.798 310.544 646.549C318.668 645.326 324.068 640.501 326.444 634.897L328.423 642.519L339.999 640.775L332.515 591.087L321.243 592.785ZM323.665 617.828C325.013 626.78 320.352 633.757 311.721 635.057C303.089 636.357 296.869 630.916 295.536 622.065C294.203 613.213 298.63 606.066 307.262 604.766C315.893 603.465 322.316 608.876 323.665 617.828Z"
                fill="#D9D9D9"></path>
              <path
                d="M343.996 624.743C345.465 634.5 354.386 639.946 366.876 638.064C379.265 636.198 386.958 628.662 385.443 618.603C384.291 610.959 379.45 607.779 370.734 607.138L361.378 606.387C356.961 606.023 354.455 604.549 354.03 601.733C353.47 598.011 355.98 595.37 360.854 594.636C365.627 593.917 368.879 596.204 369.617 600.414L381.397 598.639C379.841 588.999 371.255 583.708 359.983 585.406C348.407 587.15 340.959 594.238 342.428 603.995C343.625 611.941 348.628 615.508 357.969 616.158L367.325 616.909C371.944 617.242 373.537 618.854 373.916 621.368C374.461 624.989 371.662 627.777 365.874 628.649C360.187 629.505 356.528 627.279 355.775 622.969L343.996 624.743Z"
                fill="#D9D9D9"></path>
              <path
                d="M406.991 630.685L402.9 603.527C401.779 596.084 405.531 589.964 413.35 588.786C419.646 587.838 424.415 591.234 425.673 599.582L429.839 627.243L442.228 625.377L437.622 594.799C435.683 581.925 428.017 575.158 415.628 577.025C408.419 578.111 402.998 582.116 400.578 587.418L396.041 557.298L383.55 559.179L394.602 632.551L406.991 630.685Z"
                fill="#D9D9D9"></path>
            </g>
            <defs>
              <filter
                id="filter0_d_0_665"
                x="0.978065"
                y="0.623838"
                width="1058.53"
                height="772.984"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood>
                <feColorMatrix
                  in="SourceAlpha"
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                  result="hardAlpha"></feColorMatrix>
                <feOffset dy="3.64522"></feOffset>
                <feGaussianBlur stdDeviation="15.4922"></feGaussianBlur>
                <feComposite in2="hardAlpha" operator="out"></feComposite>
                <feColorMatrix
                  type="matrix"
                  values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.55 0"
                ></feColorMatrix>
                <feBlend
                  mode="normal"
                  in2="BackgroundImageFix"
                  result="effect1_dropShadow_0_665"></feBlend>
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="effect1_dropShadow_0_665"
                  result="shape"></feBlend>
              </filter>
            </defs>
          </svg>

          {
            new Array(6).fill(0).map((_, index) => (
              <TableCard time="10:30 AM">
                <svg
                  slot="svg"
                  width="64"
                  height="33"
                  viewBox="0 0 64 33"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    x="0.523117"
                    y="0.985519"
                    width="62.9538"
                    height="30.9538"
                    rx="15.4769"
                    class="stroke-defaultBorder"
                    stroke-width="1.04623"
                  />
                  <path
                    d="M34 16.5L23.5 26.0263L23.5 6.97372L34 16.5Z"
                    fill="#FF414C"
                  />
                  <path
                    d="M44 16.5L32.75 26.0263L32.75 6.97372L44 16.5Z"
                    fill="#FF414C"
                  />
                </svg>

                <p class="font-medium">Doors open & Breakfast is served</p>
              </TableCard>
            ))
          }

          <TableCard time="00:30 AM">
            <svg
              slot="svg"
              width="64"
              height="33"
              viewBox="0 0 64 33"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="0.523117"
                y="0.985519"
                width="62.9538"
                height="30.9538"
                rx="15.4769"
                class="stroke-defaultBorder"
                stroke-width="1.04623"></rect>
              <path
                d="M34 16.5L23.5 26.0263L23.5 6.97372L34 16.5Z"
                fill="#FF414C"></path>
              <path
                d="M44 16.5L32.75 26.0263L32.75 6.97372L44 16.5Z"
                fill="#FF414C"></path>
            </svg>

            <p class="font-medium">Doors open & Breakfast is served</p>
          </TableCard>
        </div>
      </div>
    </div>
  </div>
</section>
