---

---

<section>
  <div class="border-b-2 py-5 dark:border-[#D9D9D9]">
    <div class="container">
      <div class="pl-[47px] md:px-[120px] 2xl:px-[137px]">
        <svg
          viewBox="0 0 80 129"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="w-[35px] fill-black dark:fill-white md:w-[80px]"
        >
          <path
            d="M42.9294 24.7428C49.7035 24.7428 55.195 19.2513 55.195 12.4772C55.195 5.70315 49.7035 0.21167 42.9294 0.21167C36.1554 0.21167 30.6639 5.70315 30.6639 12.4772C30.6639 19.2513 36.1554 24.7428 42.9294 24.7428Z"
          ></path>
          <path
            d="M64.388 98.1521L45.5972 83.3476L51.0186 50.8255L59.8436 61.5394H79.7261V49.2739H65.4919L50.7487 30.8756H24.5311L6.13278 43.1411L0 67.6722H12.4495L16.9633 50.3717L23.7768 45.8334L7.34707 129H19.7843L28.4193 85.4205L52.656 104.518L54.686 129H67.0926L64.388 98.1521Z"
          ></path>
        </svg>
      </div>
    </div>
  </div>

  <div
    class="overflow-hidden border-b-2 pb-5 pt-4 dark:border-[#D9D9D9] md:overflow-visible"
  >
    <div class="container">
      <div class="flex flex-col">
        <div
          class="flex flex-row gap-5 pl-[47px] md:items-center md:px-[120px] 2xl:px-[137px]"
        >
          <h3 class="text-3xl font-semibold md:text-5xl 2xl:text-7xl">
            Run of Show
          </h3>
          <svg
            class="w-[30px] md:w-[67px]"
            viewBox="0 0 67 68"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="33.189" cy="33.9842" r="33.189" fill="#FF414C"></circle>
            <path
              d="M52.6074 34.6878L35.1504 49.2014L35.1504 20.1743L52.6074 34.6878Z"
              fill="white"></path>
            <path
              d="M37.7129 34.6878L20.2558 49.2014L20.2558 20.1743L37.7129 34.6878Z"
              fill="white"></path>
          </svg>
        </div>
        <div class="pl-[7px] md:px-[95px] 2xl:px-[100px]">
          <img
            src="/images/acc-2025/show.svg"
            alt="show"
            class="hidden w-full md:block"
          />
          <img
            src="/images/acc-2025/show-mobile.svg"
            alt="show"
            class="block w-full md:hidden"
          />
        </div>
      </div>
    </div>
  </div>
</section>
