---
import "@/styles/globals.css";

import Header from "@/components/header/header.astro";

import BaseLayout from "@/layouts/base-layout.astro";

import Accfooter from "@/components/acc-2025/accfooter.astro";
import Head from "@/components/acc-2025/head.astro";
import Highlights from "@/components/acc-2025/highlights.astro";
import Information from "@/components/acc-2025/information.astro";
import Location from "@/components/acc-2025/location.astro";
import Show from "@/components/acc-2025/show.astro";
import Speakers from "@/components/acc-2025/speakers.astro";
import ThingToDo from "@/components/acc-2025/thing-to-do.astro";
---

<BaseLayout
  title="Akash Accelerate 2025"
  description="Akash Accelerate is a full-day summit that will bring together the entire ecosystem for a packed agenda of talks, panels, and discussions exploring the future of decentralized compute and open-source AI."
  image="/meta-images/acc-2025.png"
  classname="dark !bg-[#111111] px-[16px] md:px-[20px] lg:px-[40px]"
>
  <Header
    hideDarkToggle
    overrideClassName="!bg-[#111111]  top-0 sticky z-[30] "
    navClassName="border-b-2 border-[#D9D9D9] px-2"
  />

  <main class="container px-0">
    <Head />
    <Location />
    <Speakers />
    <Show />
    <ThingToDo />
    <Highlights />
    <Information />
    <Accfooter />
  </main>
</BaseLayout>
